<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style='text-align : center;'>
      TENTANG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY='false' style='z-index : 0; position : absolute; background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);'>
  <div style='position : absolute; width : 100vw; height : 100vh; '>
    <div class='solar-syst'>
      <div class='sun'></div>
      <div class='mercury'></div>
      <div class='venus'></div>
      <div class='earth'></div>
      <div class='mars'></div>
      <div class='jupiter'></div>
      <div class='saturn'></div>
      <div class='uranus'></div>
      <div class='neptune'></div>
      <div class='pluto'></div>
      <div class='asteroids-belt'></div>
    </div>
  </div>
</ion-content>
<ion-content [fullscreen]="true" style='--background : transparent;'>
  <ion-card style='background: radial-gradient(ellipse at bottom, rgba(0, 93, 206, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
    <ion-card-header>
      <ion-card-subtitle>Profil Aplikasi</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content style='font-family : verdana importan !important'>
      Aplikasi ini merupakan pengembangan media pembelajaran untuk mengenalkan sistem tata surya kepada siswa secara lebih menarik dengan tampilan 3D menggunakan teknologi Augmented Reality. Aplikasi ini dimaksudkan untuk membantu siswa mengingat dan memahami materi juga menumbuhkan antusiasme siswa dalam belajar
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Profil Pengembang</ion-card-subtitle>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        Nama : Meyrina Eka Laila
      </ion-item>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        NIM : 34301700029
      </ion-item>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        Prodi : PGSD
      </ion-item>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        TTL.   : Demak, 13 Mei 1999
      </ion-item>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        Hobi.  : Mencoba hal-hal baru yang positif
      </ion-item>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        Motto : If you never try you'll never know. So, go agead 
      </ion-item>
      <ion-item   class="ion-activated" style='--background: radial-gradient(ellipse at bottom, rgba(177, 91, 0, 0.5) 0%, rgba(	5, 6, 8, 0.5) 100%);'>
        Email : meyrina@std.unissula.ac.id
      </ion-item>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
