<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" (click)='play()'>
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)='play()'>
      <ion-icon name="book"></ion-icon>
      <ion-label>KARTU AR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)='play()'>
      <ion-icon name="person"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
